<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <header>
      <h1 class="inline white-text">
        <%= pluralize(@bookmarks.count, "Bookmark") %>
      </h1>
      <%= link_to new_bookmark_path, class: "new", title: "New Bookmark" do %>
            <i class="fa fa-plus"></i> 
          <% end %>
    </header>
  </div>
</div>

<div class="row">
  <% if @bookmarks.present? %>
  <% @bookmarks.each do |bookmark| %>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
           <h2 class="inline">
            <%= link_to bookmark.title, bookmark %>
           </h2>

            <%= link_to edit_bookmark_path(bookmark), class: "edit" do %>
              <i class="fa fa-pencil"></i>
              <% end %>

           <%= link_to bookmark.uri, class: "new", target: "_blank" do %>
            <i class="fa fa-external-link"></i>
            <% end %>

            <%= link_to bookmark_path(bookmark), method: :delete, class: "delete", title: "Remove #{bookmark.title}" do %>
              <i class="fa fa-trash"></i>
              <% end %>
         
        </div>
        <div class="panel-body">
          <%= render bookmark.tags %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
