<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
   <div class="form-top">
       <header>
        <h1>Sign In</h1>
      </header>
    </div>
    <div class="form-bottom login-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, class: "form-username" %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign in", class: "btn-login" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <span>Don't have an account?</span>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>


<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
  </div>
</div>
